.app-wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 20px;  */
  width: 600px;
}

.header {
  grid-area: h;
  background-color: green;
}

.nav{
  grid-area: n;
  background-color: yellow;
}


.content {
  grid-area: c;
  background-color: lightblue;
}

.big-image {
  width: 500px;
}

.header img {
  width: 50px;
}
